export DB_NAME=asyncapi
export DB_USER=admin
export DB_PASSWORD=secret
export DB_HOST=127.0.0.1
export DB_PORT=5432
export DB_SSL_MODE=disable
export DB_URL=postgresql://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=$DB_SSL_MODE
export DB_URL_TEST=postgresql://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME-test
export DB_MAX_IDLE_CONNS=10
export DB_MAX_OPEN_CONNS=10
export DB_MAX_LIFETIME_CONNS=30
export JWT_SECRET=secret
export JWT_EXPIRES_IN=1d
export JWT_COOKIE_EXPIRES_IN=1d
export JWT_COOKIE_NAME=jwt
export JWT_COOKIE_SECURE=false
export JWT_COOKIE_HTTP_ONLY=true
export JWT_COOKIE_SAME_SITE=strict
export JWT_COOKIE_PATH=/
export JWT_COOKIE_DOMAIN=localhost
export JWT_COOKIE_MAX_AGE=86400000
export JWT_COOKIE_HTTP_ONLY=true
export JWT_COOKIE_SAME_SITE=strict
